table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#buttonGroup {
  margin: 15px 10px;
  display: flex;
  justify-content: right;
}

#buttonGroup button {
  margin: 5px;
  padding: 5px;
}